<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/favicon.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">中工智联
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage_todo' %}">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">待寄存</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage_saved' %}">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">已寄存</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage_done' %}">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">已取出</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'manage_lockers' %}">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">所有锁柜</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>